.smallCardMoreInfo_container {
  width: 16rem;
  height: 18rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 0.2),
    rgba(37, 117, 252, 0.2)
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.smallCardMoreInfo_container:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s;
}

.smallCardMoreInfo_container img {
  width: 65%;
  height: 65%;
  margin-top: 1.5rem;
  align-items: center;
  object-fit: cover;
  border-radius: 1rem;
}

.smallCardMoreInfo_container h5 {
  text-align: center;
  margin: 0.8rem;
}
