.main_container {
  display: flex;
  flex-basis: 80%;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

.cardHolder_container {
  width: 375px;
  height: 650px;
  perspective: 1000px;
}

.clickMe_text {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--text-color);
  text-align: right;
  margin-top: 1.2rem;
  margin-right: 1rem;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1300ms;
  transform-style: preserve-3d;
}

.card.is_flipped {
  transform: rotateY(180deg);
}

.card_front,
.card_back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card_front {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  border-radius: 1.5rem;
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 0.2),
    rgba(37, 117, 252, 0.2)
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card_content_front {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 0.8rem;
}

.card_back {
  border: 2px solid var(--border-color);
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow-y: scroll;
  scrollbar-color: #646cff47 transparent;
  background: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: rotateY(180deg);
}

.card_back h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem;
}

.card_back p {
  text-align: center;
  font-weight: 400;
  margin: 1.5rem;
  color: var(--text-color);
}

.card_back h2 {
  font-size: 2rem;
  margin: 3rem 2rem 0 1.5rem;
  text-align: center;
}

.card_back ol {
  margin: 1rem;
  color: var(--text-color);
  margin-left: 2.5rem;
  margin-bottom: 3rem;
}

.card_back li {
  margin-top: 0.7rem;
}

.card_back .video_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.card_back .video_container img {
  width: 100%;
  max-width: 300px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.card_back .video_container video {
  width: 100%;
  max-width: 300px;
  border-radius: 1rem;
}

/*Like and dislike buttons design*/
.button_container {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.div_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.5rem;
  width: 6.5rem;
  background-color: rgb(255, 40, 40);
  border-radius: 50%;
}

.div_button_like {
  background-color: rgb(4, 175, 4);
}
