.moreDetail_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  padding: 2.5rem;
  color: white;
}

.moreDetail_container p {
  text-align: center;
}

.video_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video_container video {
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

/*Overwriting design for headings since, had prolem with standards styles*/
.moreDetail_container h1 {
  font-size: 1.8rem;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  color: white;
  -webkit-background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
  background: transparent !important;
}
.instructions_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions_container ol {
  margin-left: 2.5rem;
  margin-bottom: 3rem;
}

.instructions_container li {
  margin-top: 0.25rem;
}
