.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  min-width: 225px;
  height: 100%;

  padding: 1.5rem;
  border-right: 1px solid #e0e0e0;
}

.sidebar h1 {
  font-size: 2rem;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.sidebar div {
  font-size: 1.2rem;
}

.path_contianer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.path_contianer:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}
